<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Regist</title>
</head>
<body>
<h1>注册页面</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{uf.as_p}}
    <input type="submit" value="ok"></input>
</form>
<a href="http://127.0.0.1:8008/login">登录</a>
</body>
</html>
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>注册页面</title>#}
{#</head>#}
{#<body>#}
{#    <form name="formname" method="post" action="">#}
{#        用户：<input type="text" name="username" placeholder="请输入用户名"><br>#}
{#        密码：<input type="password" name="pwd" placeholder="请输入密码"><br>#}
{#        提交：<input type="submit" name="提交"><br>#}
{#    </form>#}
{#</body>#}
{#</html>#}